$color_1: white;
$color_2: aqua;
$font-family_1: 'Nunito', sans-serif;
$font-family_2: 'Castoro Titling', cursive;
$font-family_3: 'Bungee', cursive;
$background-color_1: black;

@import "https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
@import "https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: $font-family_1;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
}

footer {
    overflow: hidden;
    background-color: $background-color_1;
    width: 100vw;
    padding-top: 40px;
    color: $color_1;
    height: 25rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }

    p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

    li {
        margin: 0 10px;
    }

    a {
        text-decoration: none;
        color: $color_1;
        transition: color .4s ease;

        i {
            font-size: 1.1rem;
        }

        &:hover {
            i {
                color: $color_2;
            }
        }
    }
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    width: 100vw;

    p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}

.main-content {
    display: inline-block;
}

#id_logo {
    size: 55%;
    cursor: pointer;
}

#id_main-text {
    cursor: pointer;
    text-align: center;
    font-family: $font-family_2;
    font-size: 2rem;
}

#id_main-text-dif {
    text-align: center;
    font-size: 3.5rem;
    font-family: $font-family_3;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden;
    }

    #id_logo {
        size: 20%;
        cursor: pointer;
    }

    #id_main-text {
        cursor: pointer;
        text-align: center;
        font-family: $font-family_2;
        font-size: 2rem;
    }

    footer {
        background-color: $background-color_1;
        width: 100%;
        padding-top: 40px;
        color: $color_1;
        height: 30rem;
    }

    .footer-content {
        p {
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
            padding: 1rem;
        }
    }

    .footer-bottom {
        text-align: center;
        width: 100vw;
    }

    //nosotros

    .content {
        grid-template-columns: (2, 1fr);
    }
        
    .article {
       text-align: center;
    }

    // nosotros

    //contacto
    .logo-contacto {
        display: none;
    }
    //contacto
}


// galeria

.galeria {
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-bottom: 6rem;
}

#id_main-galeria {
    p {
        text-align: center;
        padding: 1em 0 1em 0;
        font-size: 2rem;
    }
}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    margin: 0 15vw 0 15vw;
    justify-content: center;

    img {
        height: 400px;
        margin: 1rem;
        object-fit: cover;
        cursor: pointer;
        border-radius: 2%;

        &:hover {
            opacity: 0.7;
            transform: translateY(-3px);
            transition: 1s;
        }
    }
}

// fin galeria

//noticias

.img-fluid {
    height: 16rem;
}

h1 {
    overflow: hidden;
}

h2 {
    overflow: hidden;
}

.card-body {
    overflow: hidden;
    white-space: nowrap;
}

//noticias

// nosotros

.container {
    width: 100%;
    min-height: 100vh;
}

.container .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}

.content {
    width: 85%;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;

}

.content .article {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    padding: 25px 25px;

}

.content .article h2 {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.content .article p {
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;

}

.content .article a {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    color: black;
    margin-top: 20px;
}

.seccion-img {
    width: 100%;
    margin: auto;

}

.seccion-img img {
    width: 100%;
    height: auto;
}

// contacto
.container {
    overflow: hidden;
    height: fit-content;
    
    .logo-contacto {
        margin-left: 4rem;

    }

    h1, h2, label {
        font-family: $font-family_1;
    }

    button {
        background-color: #222;
        color: white;
        transition: 1s ease;

        &:hover {
            background-color: white;
            border: 1px solid #222;
            color: #222;
            transition: 1s ease;
        }
    }
}





// contacto