@import "https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bungee&display=swap";
@import "https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main-content {
  display: inline-block;
}

#id_logo {
  size: 55%;
  cursor: pointer;
}

#id_main-text {
  cursor: pointer;
  text-align: center;
  font-family: "Castoro Titling", cursive;
  font-size: 2rem;
}

#id_main-text-dif {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Bungee", cursive;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  transition: 1s ease;
}
#id_main-text-dif:hover {
  transform: translateY(-5px);
  color: orangered;
  letter-spacing: 3px;
  transition: 1s ease;
}

.nav-link {
  font-family: "Nunito", sans-serif;
  transition: 1s ease;
  border-radius: 8px;
}
.nav-link:hover {
  transition: 1s ease;
  background-color: orangered;
}

.galeria {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  margin-bottom: 6rem;
}

#id_main-galeria p {
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 2rem;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 15vw 0 15vw;
  justify-content: center;
}
.main-gallery img {
  height: 400px;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 2%;
}
.main-gallery img:hover {
  opacity: 0.7;
  transform: translateY(-3px);
  transition: 1s;
}

.img-fluid {
  height: 16rem;
}

h1 {
  overflow: hidden;
}

h2 {
  overflow: hidden;
}

.card-body {
  overflow: hidden;
  white-space: nowrap;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container .titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #222;
  letter-spacing: 1.5px;
  padding: 50px 0px;
}

.content {
  width: 85%;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-gap: 40px;
  margin: 30px auto;
}

.content .article {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #eee;
  padding: 25px 25px;
}

.content .article h2 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.content .article p {
  margin-top: 30px;
  font-size: 19px;
  line-height: 1.5;
}

.content .article a {
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 35px;
  color: black;
  margin-top: 20px;
}

.seccion-img {
  width: 100%;
  margin: auto;
}

.seccion-img img {
  width: 100%;
  height: auto;
}

.container {
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
}
.container .logo-contacto {
  margin-left: 4rem;
}
.container h1, .container h2, .container label {
  font-family: "Nunito", sans-serif;
}
.container button {
  background-color: #222;
  transition: 1s ease;
  color: #eee;
}
.container button:hover {
  background-color: white;
  border: 1px solid #222;
  color: #222;
  transition: 1s ease;
}
.container button:hover a {
  color: #222;
}
.container button a {
  text-decoration: none;
  color: white;
}

footer {
  overflow: hidden;
  background-color: black;
  width: 100vw;
  padding-top: 40px;
  color: white;
  height: 25rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: white;
  transition: color 0.4s ease;
}
.socials a i {
  font-size: 1.1rem;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  width: 100vw;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  #id_logo {
    size: 20%;
    cursor: pointer;
  }
  #id_main-text {
    cursor: pointer;
    text-align: center;
    font-family: "Castoro Titling", cursive;
    font-size: 2rem;
  }
  footer {
    background-color: black;
    width: 100%;
    padding-top: 40px;
    color: white;
    height: 30rem;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    padding: 1rem;
  }
  .footer-bottom {
    text-align: center;
    width: 100vw;
  }
  .content {
    grid-template-columns: 2, 1fr;
  }
  .article {
    text-align: center;
  }
  .logo-contacto {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */