@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;}

.container .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}

.container .titulo h1::after {
    content: "";
    height: 6px;
    width: 180px;
    background-color: #222;
    border-radius: 6px ;
    position: relative;
    display: block;
    margin: auto;
     
}

.content {
    width: 85%;
    display: grid;
    grid-template-columns: (2,1fr);
    grid-gap: 40px;
    margin: 30px auto;

}

.content .article {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #eee;
    padding: 25px 25px;

}

.content .article h2 {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.content .article p {
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;

}

.content .article a {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    color: black;
    margin-top: 20px;
}

.seccion-img {
    width: 100%;
    margin: auto;

}

.seccion-img img {
    width: 100%;
    height: auto;
}

footer {
    background-color: black;
    width: 100vw;
    padding-top: 40px;
    color: white;
    height: 20rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
    transition: color .4s ease;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    width: 100vw;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i {
    color: aqua;
}

@media screen and (max-width:900px) {
    .content {
        grid-template-columns: (2,1fr);
    }
    .article {
        text-align: center;
    }

    footer {
        background-color: black;
        width: 100%;
        padding-top: 40px;
        color: white;
        height: 30rem;
    }

    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        padding: 1rem;
    }

    .footer-bottom {
        text-align: center; 
        width: 100vw;  
    }
}